* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Gilroy;
  font-weight: 500;
}
.container {
  margin: 0 auto;
}
.hamburger {
  display: none;
  @include _992px {
    display: inline-flex;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  @include _1100px {
    display: block;
  }

  padding: 60px 0px;
  @include _992px {
    padding: unset;
    margin: 0 auto;
    display: block;
  }
}
.main-img-wrap {
  @include _1100px {
    display: none;
    margin: 0 auto;
  }
}
.main-title-h1-but-2__svg {
  margin-left: 10px;
}
.main-title-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-title-h1-h1__h1 {
  font-size: 58px;
  font-family: Gilroy;
  font-weight: 500;
  @include _992px {
    font-size: 38px;
  }
  @include _500px {
    font-size: 28px;
  }
  @include _320px {
    font-size: 18px;
    margin: 0 auto;
  }
}
.main-title-h1-p {
  min-height: 81px;
  max-width: 492px;
}
.main-title-h1-p-1 {
  font-size: 18px;
}
.main-title-h1-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include _500px {
    padding: 15px;
  }
}
.main-title-h1-green {
  color: #49ad09;
}
.article-logo-logo-1 {
  padding: 50px;
  gap: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-h2 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-h2-h2 {
  font-size: 45px;
  font-family: Gilroy;
  font-weight: 500;
}
.header-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  max-width: 1200px;
}
.block-1 {
  height: 287px;
  width: 434px;
  border-radius: 5px;
  background: #ccc;
}
.article-logo-logo-1 {
  @include _992px {
    display: flex;
    flex-wrap: wrap;
  }
}
.article-cont {
  text-align: center;
  padding: 15px;
}

.link-green {
  color: #000;
}
.link-green:hover {
  color: #49ad09;
}
.article-block-wrap {
  min-height: 287px;
  max-width: 434px;
  border-radius: 5px;
  background: #ededed;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 6%);
  border: none;
  padding: 30px;
  transition: all ease 1s;
}
.article-block-wrap:hover {
  background: white;
  transition-duration: 1s;
  transform: scale(1.1);
  box-shadow: 0px 100px 80px 0px #3131311a;
}
.main-title-h1-but-2 {
  min-height: 58px;
  width: 200px;
  border: 1px solid #514040;
  border-radius: 5px;
  background: #ffff;
  color: #000;
}
.icon-block {
  height: 28px;
  width: 28px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


