.main-title-h1-but-1 {
    min-height: 58px;
    width: 200px;
    background: #49ad09;
    border-radius: 5px;
    border: none;
    color: #ffffff;
  }
  .main-title-h1-but-1:active {
    transition-duration: 0.4s;
    transform: scale(0.9);
  }
  .main-title-h1-but-2__link {
    color: #000;
  }