.swiper-button-prev {
  left: 0;
  top: 12px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #000;

  width: 80px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next::after {
  content: url("../img/arrow2.svg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after {
  content: url("../img/arrow1.svg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next {
  right: 0;
  top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: absolute;
  width: 80px;
  color: aliceblue;
  border-radius: 40px;
  background: #313131;
  box-shadow: 0px 8px 15px 0px #48488a14;
}
.swiper-slider-btns {
  height: 60px;
  width: 200px;
  border-radius: 70px;
  display: flex;
  position: relative;
  left: 349px;
  top: -34px;
  z-index: 1000;
  background: white;
  @include _768px {
    left: 233px;
    top: -34px;
  }
  @include _500px {
    left: 100px;
    top: -4px;
  }
}
.swiper {
  min-height: 540px;
  max-width: 892px;
  margin-bottom: 50px;
  background: #ccc;
  width: unset;
  height: unset;
}
.swiper-wrapper {
  position: relative;
  max-width: 892px !important;
  min-height: 540px !important;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: border-box !important;
}
.swiper-slide {
  min-height: 282px !important;
  margin-top: 80px;
  @include _500px {
  }
}

@import "../node_modules/swiper/swiper.scss";
